/* Import font from google */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
	min-height: 100%;
	--sdc-red-color: #c51c30;
}

body {
	position: relative;
	font-family: 'PT Sans', sans-serif;
}

/* Sets the background image if the screen size is greater than 1000px
    The background image should not be shown smaller screens because it
    will be almost completely covered by the carousel
 */
@media (min-width: 1000px) {
    #main-container {
        background-repeat: no-repeat;
        /* Centers the background image horizontally, offsets by 20px from the top vertically */
        background-position: center 20px;
        background-image: url("../images/other/Rocket_with_Smoke_Colored.svg");
    }
}

.navbar {
	font-size: 22px;
	font-weight: bolder;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
	z-index: 99;
	box-shadow: 0 0 50px rgba(0,0,0, 1);
}

/* Crops the SVG logo to fit the navbar
    Need to fix logo so this isn't needed */
.crop {
	overflow: hidden;
}
.crop img {
	width: 150px;
	margin: -45px -9px -45px -9px;
}

/* Main header styles */
#jumbotron {
	padding-top: 15px;
	padding-bottom: 15px;
	background-image: url("../images/space_images/Earth_small.jpg");
	background-size: cover;
	display:flex;
	align-content:center;
	justify-items:center;
	align-items:center;
}

/* Box within the header for text (darkens image) */
div.transbox {
	color: white;
	margin-top: 40px;
	margin-bottom: 35px;
	background-color: rgba(0,0,0, .6);
    /* Adds a shadow to blend with image */
	-webkit-box-shadow: 0 0 10px 10px rgba(0,0,0, .6);
	box-shadow: 0 0 10px 10px rgba(0,0,0, .6);
}

.club-name-header {
	font-weight: bold;
	color: var(--sdc-red-color);
}

/* Uncomment these if going back to fixed navbar*/
header {
  //padding: 85px 0 0px;
}
@media (min-width: 992px) {
  header {
    //padding: 85px 0 0px;
  }
}

/* Buffer between sections */
section {
  padding: 25px 0;
}

.social-media-icon {
	color: white;
}

.section-header{
    text-align: center;
    font-weight: bolder;
    color: var(--sdc-red-color);
}

.row{
    padding-bottom: 25px;
}